# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

*~
.DS_Store

*.d
/io.txt
/.cproject
/.project
/.settings

src/seir_model_wrapper.cpp
src/seir_model_wrapper.cpp.bu

Debug/
Release/
/ReleaseWithDebInfo/
/Profiling/
/TODO.txt
/scratch.txt
automate/scratch.txt

scratch/

model-master/
model-schools/
model-intervention/

turbine-output

.ipynb_checkpoints/
Untitled.ipynb
notes.R
!scripts/notes.R
.RData
.Rhistory
obsolete/

*.pyc
__pycache__

swift_proj/model/pkgIndex.tcl
.lazybones
swift_proj/experiments
*.tic

.vscode

scratch/
test_proj/experiments

swift_proj/data/external_data/*
!swift_proj/data/external_data/.keep

experiments/
results/
submit/*output.txt

